.vps {
  @apply h-[100%] min-h-[100vh] flex w-full flex-col;

  &__header {
    @apply flex flex-col border-b-2 border-solid border-crayola text-dark-greenish-blue;
  }

  &__category {
    @apply lg:max-w-[232px] mt-4 mb-5 box-border flex max-w-none flex-col gap-3 ;
  }
}

.header {
  &__container {
    @apply gap-[11px] mb-[15px] flex flex-col;
  }

  &__title {
    @apply text-sm font-light uppercase;
  }

  &__subtitle {
    @apply text-xl font-bold uppercase;
  }
}

.error {
  @apply h-[100%] w-[100%] m-auto flex justify-center;
}
