.select {
  @apply relative box-border w-full select-none text-base font-normal;

  &__btn {
    @apply flex h-9 items-center justify-between rounded border-2 border-solid bg-white px-4 italic transition delay-75;
    color: #AFBABF;
    border-color: #AFBABF;

    &:not(&_active):not(&_selected):hover {
      @apply border-silver-grey text-silver-grey;

      .select__arrow svg rect {
        @apply fill-silver-grey;
      }
    }

    &:focus {
      @apply border-2 border-solid border-blue outline-none;
    }

    &_active {
      @apply border-dark-blue not-italic text-black;

      .select__arrow {
        @apply rotate-180;
      }

      .select__arrow svg rect {
        @apply fill-dark-blue;
      }
    }

    &_selected:not(&_active) {
      @apply border-silver-grey not-italic text-black;

      .select__arrow svg rect {
        @apply fill-silver-grey;
      }
    }

    &_error {
      @apply border-bright-red;

      .select__arrow svg rect {
        @apply fill-bright-red;
      }
    }

    &_disabled {
      @apply border-silver-grey bg-crayola text-grey-squirrel;

      .select__arrow svg rect {
        @apply fill-silver-grey;
      }
    }

    &_disabled:not(&_selected) {
      @apply  border-grideperlevy;
      background-color: #F9FBFC;
      color: #AFBABF;

      .select__arrow svg rect {
        fill: #AFBABF;
      }
    }
  }

  &__arrow {
    @apply h-2;
    width: 14px
  }

  &__list {
    @apply absolute flex w-full flex-col items-start rounded bg-white pt-4 pb-3 shadow-lg;
    top: 46px;
  }

  &__text {
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
    width: 166px;
  }
}

.list {
  @apply z-20;

  &__item {
    @apply w-full cursor-pointer pl-4 pr-3 transition;
    transition-delay: 15ms;
    padding-top: 6px;
    padding-bottom: 6px;

    &_selected {
      @apply bg-grideperlevy;
    }

    &:hover {
      @apply bg-blue text-white;
    }
  }
}
