.header {
  @apply mx-auto flex w-full max-w-7xl;

  &__nav {
    @apply relative w-full;
  }


}

.nav {
  &__container {
    @apply m-5 block h-5;
  }

  &__wrapper {
    @apply flex items-center justify-between;
  }

  &__menu-btn {
    @apply h-4 cursor-pointer items-center justify-center;
  }

  &__info {
    @apply flex items-center gap-6 text-xs text-grey-squirrel;
  }
}

.info {
  &__balance {
    @apply flex items-center gap-8;
  }

  &__notification {
    @apply flex items-center gap-2.5;
  }
}