.menu {
  @apply py-[19px] gap-[50px] max-w-[211px] h-[100%] flex w-full flex-col bg-dark-greenish-blue transition;

  &__logo {
    @apply flex justify-between px-5;
  }

  &__btn {
    @apply h-4 cursor-pointer items-center justify-center;
  }

  &__list {
    @apply flex flex-col text-sm font-bold text-white;
  }

  &__item {
    @apply py-[10px] w-full cursor-pointer;

    &:not(&_current):hover {
      @apply bg-gentian-blue;
    }

    &_current {
      @apply bg-blue;
    }
  }
}

.item {
  &__container {
    @apply flex items-center gap-4 px-5;
  }

  &__icon {
    @apply h-[25px] w-[25px] flex items-center justify-center;
  }

  &__text {
    @apply uppercase;
  }
}

.container {
  background-color: rgb(6, 36, 54, 0.5);
  @apply h-full flex fixed top-0 left-0 w-0 opacity-0 invisible z-50 transition-all delay-75 md:relative md:h-auto;

  &_active {
    @apply md:w-[211px] visible opacity-100 w-full;
  }
}