.card {
  @apply box-border w-full justify-start rounded;
  height: 100%;
  background-color: #E0F6FC;

  &_hdd {
    background-color: #C4EBF8;
  }

  &_turbo {
    background-color: #ECFDF7;
  }

  &__container {
    @apply flex w-full flex-col px-5 pt-5 pb-6;
    height: 100%;
  }

  &__header {
    @apply flex w-full items-center gap-4;
  }

  &__title {
    @apply text-xs font-normal text-black;
  }

  &__price {
    @apply w-full text-xl font-bold text-black;
    margin-top: 14px;
    margin-bottom: 18px;
  }

  &__specifications {
    @apply flex w-full flex-col gap-4;
  }

  &__form {
    @apply mt-5 flex w-full flex-col;
    gap: 23px;
    height: 100%;
  }

  &__bonus {
    @apply my-auto flex items-center gap-4;
  }

  &__button {
    @apply w-full self-center;
    max-width: 167px;
  }
}

.form {
  &__element {
    @apply flex w-full flex-col gap-2;
  }
}

.specifications {
  &__item {
    @apply flex items-center text-xs font-normal;
    color: #62686C;
    gap: 9px;
  }

  &__text {
    @apply w-full;
    max-width: 26px
  }

  &__span {
    @apply text-base text-black;
  }
}

.element {
  &__text {
    @apply w-full text-xs font-normal;
    color: #62686C;
  }
}

.bonus {
  &__text {
    @apply text-xs font-normal;
  }
}
